*,
:before,
:after {
  box-sizing: border-box;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

p {
  margin: 16px 0;
}

a {
  color: inherit;
  text-decoration: none;
}

fieldset {
  margin: 0;
}

fieldset,
legend {
  padding: 0;
}

menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  line-height: 24px;
  font-family:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 16px;
  font-weight: 400;
  color: rgba(60, 60, 67);
  background-color: #ffffff;
  font-synthesis: style;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  margin: 48px 0 16px;
  border-top: 1px solid #e2e2e3;
  padding-top: 24px;
  letter-spacing: -0.02em;
  line-height: 32px;
  font-size: 24px;
}

code,
kbd,
pre,
samp {
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 0.875em;
}

code {
  padding: 20px 0;
  border-radius: 8px;
}

pre code {
  display: block;
  padding: 20px 24px;
  line-height: 1.7;
}

table {
  display: block;
  border-collapse: collapse;
  margin: 20px 0;
  overflow-x: auto;
}

tr {
  background-color: #ffffff;
  border-top: 1px solid #e2e2e3;
  transition: background-color 0.5s;
}

th {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  color: rgba(60, 60, 67, 0.78);
  background-color: #f6f6f7;
}

th,
td {
  border: 1px solid #e2e2e3;
  padding: 8px 16px;
}

:not(pre, h1, h2, h3, h4, h5, h6) > code {
  font-size: 0.875em;
  color: #3451b2;
}

:not(pre) > code {
  border-radius: 4px;
  padding: 3px 6px;
  background-color: rgba(142, 150, 170, 0.14);
  transition:
    color 0.25s,
    background-color 0.5s;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.p-4 {
  padding: 1rem;
}

.my-4 {
  margin: 1rem 0;
}

.flex {
  display: flex;
}

.a-i-c {
  align-items: center;
}

.j-c-s {
  justify-content: space-between;
}

.cursor-pointer {
  cursor: pointer;
}

.social-github {
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.icon {
  width: 1em;
  height: 1em;
  mask-size: 100% 100%;
  background-color: currentColor;
}

.loading {
  position: relative;
  width: 30px;
  height: 30px;
  border: 2px solid #000;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-right-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-radius: 100%;

  animation: circle infinite 0.75s linear;
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
